@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" Class="ma-4" Color=Color.Primary>Hardware info harvester</MudText>
<div class="d-flex flex-column mb-6">
        <div class="d-flex justify-space-between">
            <div class="d-flex flex-wrap gap-x-4">
                <MudPaper Elevation="0" Outlined Class="px-4 py-4"><MudAvatar Size="Size.Small" Color="Color.Primary">3</MudAvatar> New Logs</MudPaper>
                <MudPaper Elevation="0" Outlined Class="px-4 py-4"><MudAvatar Size="Size.Small" Color="Color.Primary">3</MudAvatar> Pending</MudPaper>
                <MudPaper Elevation="0" Outlined Class="px-4 py-4"><MudAvatar Size="Size.Small" Color="Color.Primary">2</MudAvatar> Changes</MudPaper>
                <MudPaper Elevation="0" Outlined Class="px-4 py-4"><MudAvatar Size="Size.Small" Color="Color.Primary">1</MudAvatar> New Machine</MudPaper>
            </div>
        </div>
</div>
<MudText Typo="@Typo.h4" Class="mt-4">Recent Logs</MudText>
<MudCard>
    <MudCardContent Class="pa-5 ma-6">
       <MudPaper Elevation="0" Outlined Class="pa-4 ma-2">23/08/2022 9:52:15 am	PC Unattended</MudPaper>
       <MudPaper Elevation="0" Outlined Class="pa-4 ma-2">23/08/2022 9:52:15 am	PC Unattended</MudPaper>
       <MudPaper Elevation="0" Outlined Class="pa-4 ma-2">23/08/2022 9:52:15 am	PC Unattended</MudPaper>
    </MudCardContent>
</MudCard>




