@page "/list"

<PageTitle>Asset Categories</PageTitle>

<h1>Asset Categories</h1>

<table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Asset</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="Mouse">Mouse</a></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>2</td>
                <td><a href="KeyBoard">Keyboard</a></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>3</td>
                <td><a href="MotherBoard">Motherboard</a></td>
            </tr>
        </tbody>
    </table>
